:root {
    --font-family: "Playfair Display", sans-serif;
    --second-font-family: "Ubuntu", sans-serif;
    --select-link-color: #03A9F4;
    --navigations-color: #7D7D7D;
    --gener-color: #B4AD9E;
    --text-color: #626262;
}